*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    background-color: blueviolet;
    padding: 10px;
    margin: 50px;
}
.items {
    
}

.header{
    padding: 20px;
    background-color:rgb(124, 10, 230);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
    
}header h1 {
    display: inline-block;
    font-size: 48px;
    
}
.header h1 .nio{
    color: burlywood;
}
.header div{
    padding-top: 20px;
    margin-right: 25px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.header div ul {
    list-style-type: none;
}
.header div ul li{
    display: inline-block;
    margin-left: 30px;
}
body{
    background-color: lightgray;
}

a{
    color: #ffffff;
    text-decoration: none;
}
P {
    color: rgb(45, 10, 80);
    text-decoration: none;
}
.hero {
    height: 100px;
    width: 100%;
    background-image: url("../assests/images/5640edcd19c6b7a84f52802aa7ababc4.jpg");
    background-size: cover;
    background-position: center;
}
