*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.total-size{
    margin: auto;
    padding: 0 80px;
    max-width: 1300px;
}
/*Top of the page styling*/
.navbar{
    position: fixed;
    width: 100%;
    background-color:rgb(73, 73, 73);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar .total-size{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .MyName{
    border: 15px solid lightblue;
}
.navbar .MyName a{
    color: darkgray;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li {
    list-style: none;
    text-decoration: underline;
    display: inline-block;
}
.navbar .menu li a{
    color: lightblue;
    font-size: 20px;
    
}
/*bodyPage Styling*/
.tp-tag{
    display: flex;
    background: url("../assests/images/5640edcd19c6b7a84f52802aa7ababc4.jpg") no-repeat center;
    height: 25vh;
    
}
